span {
    margin: 0;
    padding: 13px 5px 13px 5px;
    border-radius: 10px;
    font-size: small;
}

.ok {
    background-color: #fff;
    color: black;
}

.logout_coming {
    background-color: red;
    color: white;
}