<h2>{{ 'settings.title' | translate }}</h2>

<div>
  <form #form="ngForm">
    <mat-accordion>
      @if (authMode === 'ldap') {
      <information-message severity="information">{{ 'settings.info.ldap' | translate }}</information-message>
      }
      @if (authMode === 'sso') {
      <information-message severity="information">{{ 'settings.info.sso' | translate }}</information-message>
      }
      <mat-expansion-panel hideToggle [disabled]="authMode !== 'db'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings.password' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ 'settings.password.description' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'settings.password.current' | translate }}</mat-label>
          <input [type]="showCurrentPassword ? 'text' : 'password'" autocomplete="current-password" matInput name="oldCredential" required minlength="8"
            [(ngModel)]="credentialData.oldCredential">
            <mat-icon matSuffix class="w-pointer" (click)="toggleCurrentPasswordDisplay()" [title]="'login.togglePassword' | translate">{{showCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'settings.password.new' | translate }}</mat-label>
          <input type="{{showNew1Password ? 'text' : 'password'}}" autocomplete="new-password" matInput name="newCredential1" required minlength="8"
            [(ngModel)]="credentialData.newCredential1">
          <mat-icon matSuffix class="w-pointer" (click)="toggleNew1PasswordDisplay()" [title]="'login.togglePassword' | translate">{{showNew1Password ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'settings.password.confirm' | translate }}</mat-label>
          <input [type]="showNew2Password ? 'text' : 'password'" autocomplete="new-password" matInput name="newCredential2" required minlength="8"
            [(ngModel)]="credentialData.newCredential2">
          <mat-icon matSuffix class="w-pointer" (click)="toggleNew2PasswordDisplay()" [title]="'login.togglePassword' | translate">{{showNew2Password ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <button name="savePassword" mat-button color="primary" [disabled]="form.status ==='INVALID'" (click)="save()">{{
          'settings.password.save' | translate }}</button>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle [disabled]="authMode !== 'db'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings.mfa' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ 'settings.mfa.description' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox name="mfaEnabled" [(ngModel)]="mfaEnabled" [checked]="mfaEnabled === true"
          (change)="toggleMfa()" />
        {{ 'settings.mfa.checkbox' | translate }}

        @if (showQrCode) {
        <div>
          <img src="{{imageBaseUrl}}secure/user/mfa_qr_code" alt="MFA QR code" /> <br />
          {{ 'settings.mfa.qr' | translate }}
        </div>
        }
        @else {
        <div>
          <button mat-raised-button color="primary" (click)="showQrCode = !showQrCode">{{ 'settings.mfa.showQrCode' |
            translate }}</button>
        </div>
        }
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings.language' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ 'settings.language.description' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'settings.language.select' | translate }}</mat-label>
          <mat-select (selectionChange)="saveLanguage()" matInput name="language" [(ngModel)]="language">
            <mat-option [value]="'en'" selected="{{language === 'en'}}">{{ 'settings.language.en' | translate }}</mat-option>
            <mat-option [value]="'hu'">{{ 'settings.language.hu' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>