<mat-card class="about-card">
    <mat-card-title>{{ 'about.title' | translate }}</mat-card-title>
    <mat-card-content>
        @if (systemStatus$ | async; as systemStatus) {
            <ul>
                <li>{{ 'about.appVersion' | translate }}: <b>{{systemStatus.version}}</b></li>
                <li>{{ 'about.builtTime' | translate }}: <b>{{ systemStatus.built | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}</b></li>
                <li>{{ 'about.authMode' | translate }}: <b>{{systemStatus.authMode}}</b></li>
                <li>{{ 'about.status' | translate }}: <b>{{systemStatus.status}}</b></li>
                @if (systemStatus.containerHostType === 'DOCKER' || systemStatus.containerHostType === 'SWARM' || systemStatus.containerHostType === 'UNKNOWN') {
                    <li>{{ 'about.containerId' | translate }}: <b>{{systemStatus.containerId}}</b></li>
                } @else if (systemStatus.containerHostType === 'KUBERNETES' || systemStatus.containerHostType === 'OPENSHIFT') {
                    <li>{{ 'about.podId' | translate }}: <b>{{systemStatus.containerId}}</b></li>
                }
            </ul>
        } @else {
            <mat-spinner></mat-spinner>
        }
    </mat-card-content>
</mat-card>