<div class="container">
    <form #form="ngForm" novalidate autocomplete="off">
        <mat-card class="box">
            <mat-card-header class="gms-login-header">
                <mat-card-title>Request password reset</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                Please type in your username.
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
                </mat-form-field>
                <button [disabled]="form.status ==='INVALID'" (click)="requestReset()" mat-raised-button color="primary" class="btn-block margin-r10">Submit</button>
                <button mat-raised-button color="default" [routerLink]="'/login'">Back to login</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>