<ng-container>
  @if (status === 'ACTIVE') {
    <mat-icon (click)="toggle()" class="active">check_circle_outline</mat-icon>
  }
  @if (status === 'BLOCKED' || status === 'DISABLED') {
    <mat-icon (click)="toggle()" class="disabled" matTooltip="{{status}}">block</mat-icon>
  }
  @if (status === 'DELETE_REQUESTED' || status === 'TO_BE_DELETED') {
    <mat-icon (click)="toggle()" class="disabled" matTooltip="{{status}}">schedule</mat-icon>
  }
  @if (status === 'ANONYMIZATION_REQUESTED') {
    <mat-icon (click)="toggle()" class="pending" matTooltip="{{status}}">schedule</mat-icon>
  }
  @if (status === 'ANONYMIZED') {
    <mat-icon (click)="toggle()" matTooltip="{{status}}">close</mat-icon>
  }
</ng-container>