<div>
  <mat-toolbar color="primary">
    <span class="show-large">Give My Secret</span>
    
    <button mat-icon-button color="default" class="show-small" (click)="toggleMenu()">
      <mat-icon aria-hidden="false">{{showLargeMenu ? 'menu_opened' : 'menu'}}</mat-icon>
    </button><span class="show-small">GMS</span>
    <span class="spacer"></span>

    <span *ngIf="isProd === false" class="label_env show-large">Development mode</span>
    <span *ngIf="isProd === false" class="label_env show-small">Dev</span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="Current user">person</mat-icon> <span class="show-large">{{currentUser?.username}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/settings'">
        <mat-icon aria-hidden="false">settings</mat-icon>
        Settings
      </button>
    </mat-menu>
    <button mat-button [routerLink]="'/messages'">
      <mat-icon matBadge="{{unreadMessageCount}}" matBadgeColor="warn" *ngIf="unreadMessageCount > 0">markunread
      </mat-icon>
      <mat-icon matListIcon class="messages-0" *ngIf="unreadMessageCount === 0">drafts</mat-icon>
    </button>
    <button mat-button mat-raised (click)="logout()">
      <mat-icon aria-hidden="false" aria-label="Current user">exit_to_app</mat-icon><span class="show-large">Logout</span>
    </button>
  </mat-toolbar>

  <div class="full-screen-menu" *ngIf="showLargeMenu === true">
    <nav-menu [admin]="isAdmin()" [showTexts]="true"></nav-menu>
  </div>
</div>