table {
  width: 100%;
  margin-top: 10px;
}

table td,
th {
  padding: 10px;
}

tr th {
  text-align: left;
}

.bold-text {
  font-style: bold;
  font-weight: bold;
}

.margin-top {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
  color: black;
}

.unclickable {
  cursor: not-allowed;
  color: lightgrey;
}