<div class="with-margin-top">
  <nav-back [buttonConfig]="buttonConfig"></nav-back>

  @if (error) {
    <div class="warning"><b>{{ 'messages.error' | translate }}:</b> {{error}}</div>
  }
  @if (!error) {
    <form #form="ngForm" class="form-control">
      <mat-card class="with-margin-top">
        <mat-card-content>
          @if (data.id !== undefined) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>ID</mat-label>
              <input disabled="true" name="id" matInput value="{{data.id}}">
            </mat-form-field>
          }
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'iprestriction.pattern' | translate }}</mat-label>
            <input matInput name="name" required [(ngModel)]="data.ipPattern">
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'iprestriction.allowed' | translate }}</mat-label>
            <mat-select required [(ngModel)]="data.allow" name="allow">
              <mat-option [value]="true">{{ 'dropdown.true' | translate }}</mat-option>
                <mat-option [value]="false">{{ 'dropdown.false' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'tables.status' | translate }}</mat-label>
            <mat-select [(ngModel)]="data.status" name="status" required>
              <mat-option [value]="'ACTIVE'">{{ 'dropdown.ACTIVE' | translate }}</mat-option>
              <mat-option [value]="'DISABLED'">{{ 'dropdown.DISABLED' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
          @if (data.id !== undefined) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'tables.creationDate' | translate }}</mat-label>
              <input disabled="true" matInput value="{{data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
            </mat-form-field>
          }
          @if (data.id !== undefined) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'tables.lastModified' | translate }}</mat-label>
              <input disabled="true" matInput value="{{data.lastModified | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
            </mat-form-field>
          }
          <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">{{ 'buttons.save' | translate }}</button>
        </mat-card-content>
      </mat-card>
    </form>
  }
</div>