<div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'tables.filter' | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="datasource" (load)="true">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef>{{ 'tables.key' | translate }}</th>
            <td mat-cell *matCellDef="let element">
                {{ element.key }}
            </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>{{ 'tables.value' | translate }}</th>
            <td mat-cell *matCellDef="let element">
                @if (element.value.length > 100) {
                <mat-expansion-panel [hideToggle]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            ...
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    {{ element.value }}
                </mat-expansion-panel>
                } @else {
                {{ element.value }}
                }
            </td>
        </ng-container>
    </table>
</div>