<div>
  <h2>My secrets</h2>
  <div class="datatable">

    <nav-back [buttonConfig]="[{url:'/secret/new', label:'Create +', primary : true}]"></nav-back>

    <mat-card style="margin-top: 10px;">
      <mat-card-content>
        <table mat-table [dataSource]="datasource" (load)="true">
            <tr mat-header-row *matHeaderRowDef="secretColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: secretColumns;"></tr>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="secretId">
                <th mat-header-cell *matHeaderCellDef>Secret ID</th>
                <td mat-cell *matCellDef="let element"> {{element.secretId}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <status-toggle [entityId]="element.id" [status]="element.status" (callbackFunction)="toggle(element.id, element.status)"></status-toggle>
                </td>
              </ng-container>
              <ng-container matColumnDef="lastUpdated">
                <th mat-header-cell *matHeaderCellDef>Last updated</th>
                <td mat-cell *matCellDef="let element"> {{element.lastUpdated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
              </ng-container>
              <ng-container matColumnDef="lastRotated">
                <th mat-header-cell *matHeaderCellDef>Last rotated</th>
                <td mat-cell *matCellDef="let element"> {{element.lastRotated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
              </ng-container>
              <ng-container matColumnDef="rotationPeriod">
                <th mat-header-cell *matHeaderCellDef>Rotation period</th>
                <td mat-cell *matCellDef="let element"> {{element.rotationPeriod}} </td>
              </ng-container>
              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef>Operations</th>
                <td mat-cell *matCellDef="let element">&nbsp;
                    <button mat-icon-button color="primary" [routerLink]="'/secret/' + element.id">
                        <mat-icon aria-hidden="false">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="promptDelete(element.id)">
                        <mat-icon aria-hidden="false">delete</mat-icon>
                    </button>
                  </td>
              </ng-container>
        </table>

        <mat-paginator [length]="tableConfig.count" [pageSize]="tableConfig.pageSize" [pageIndex]="tableConfig.pageIndex"
                        [pageSizeOptions]="[10, 25, 50]" (page)="onFetch($event)"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>