@import '../../../globals.scss';

.margin-right {
  margin-right: 5px;
}

.pad-r-5 {
  padding-right: 5px;
}

.pad-l-5 {
  padding-left: 5px;
}

.all-allowed {
  padding: 10px 0 10px 10px;
  margin-bottom:10px;
}

.green {
  color: $success_dark;
}

.orange {
  color: $warning;
}