<div class="with-margin-top">

  <nav-back [buttonConfig]="buttonConfig"></nav-back>

  @if (error) {
    <div class="warning"><b>{{ 'messages.error' | translate }}:</b> {{error}}</div>
  }
  @if (!error) {
    <form #form="ngForm" class="form-control">
      <mat-card class="with-margin-top">
        <mat-card-content>
          @if (data.id !== undefined) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>ID</mat-label>
              <input disabled="true" matInput name="id" [(ngModel)]="data.id">
            </mat-form-field>
          }
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'secrets.id' | translate }}</mat-label>
            <input matInput required name="secretId" [(ngModel)]="data.secretId">
          </mat-form-field>
          @if (data.value === undefined) {
            <div class="warning">
              {{ 'secrets.info' | translate }}
            </div>
          }
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'secrets.keystoreId' | translate }}</mat-label>
            <mat-select required name="keystoreId" name="keystoreId" [(ngModel)]="data.keystoreId" (selectionChange)="onKeystoreNameChanged($event.value)">
              @for (option of filteredKeystoreOptions$ | async; track option) {
                <mat-option [value]="option.id">{{option.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'secrets.keystoreAlias' | translate }}</mat-label>
            <mat-select required [(ngModel)]="data.keystoreAliasId" name="keystoreAliasId">
              @for (option of filteredKeystoreAliasOptions$ | async; track option) {
                <mat-option [value]="option.id">{{option.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'tables.status' | translate }}</mat-label>
            <mat-select [(ngModel)]="data.status" name="status" required>
              <mat-option [value]="'ACTIVE'">{{ 'dropdown.ACTIVE' | translate }}</mat-option>
              <mat-option [value]="'DISABLED'">{{ 'dropdown.DISABLED' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'secrets.type' | translate }}</mat-label>
            <mat-select [(ngModel)]="data.type" name="type" required>
              <mat-option [value]="'SIMPLE_CREDENTIAL'">SIMPLE_CREDENTIAL</mat-option>
              <mat-option [value]="'MULTIPLE_CREDENTIAL'">MULTIPLE_CREDENTIAL</mat-option>
            </mat-select>
          </mat-form-field>
          @if (data.value === undefined) {
            <button mat-raised-button color="primary" (click)="showValue()" class="margin-bottom margin-right">{{ 'secrets.showValue' | translate }}</button>
          }
          @if (data.id !== undefined) {
            <button mat-raised-button color="primary" (click)="rotateSecret()" class="margin-bottom margin-right">{{ 'secrets.rotateSecret' | translate }}</button>
          }
        
          @if (data.value !== undefined && data.type === 'SIMPLE_CREDENTIAL') {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'tables.value' | translate }}</mat-label>
              <input matInput required [(ngModel)]="data.value" name="value">
            </mat-form-field>
          }
          @if (data.value !== undefined && data.type === 'MULTIPLE_CREDENTIAL') {
            <button mat-raised-button color="primary" class="margin-bottom"
            (click)="addNewMultipleCredential()">{{ 'secrets.addNewKvp' | translate }}</button>

            <div class="warning">
              {{ 'secrets.capacityWarning' | translate }}
            </div>

            <table mat-table [dataSource]="datasource" class="mat-elevation-z1 full-width margin-bottom">
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef>{{ 'tables.key' | translate }}</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  <mat-form-field appearance="fill" class="full-width pad-r-5">
                    <input matInput name="key-{{index}}" required autocomplete="off" [(ngModel)]="element.key" />
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>{{ 'tables.value' | translate }}</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  <mat-form-field appearance="fill" class="full-width pad-l-5">
                    <input matInput name="value-{{index}}" required autocomplete="off" [(ngModel)]="element.value" />
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef>{{ 'tables.operations' | translate }}</th>
                <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                  <button mat-icon-button color="warn" (click)="deleteMultipleCredential(index)">
                    <mat-icon aria-hidden="false">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
            </table>
          }
          <div>
            <mat-form-field appearance="fill" class="half-width-left">
              <mat-label>{{ 'secrets.returnDecrypted' | translate }}</mat-label>
              <mat-select required [(ngModel)]="data.returnDecrypted" name="returnDecrypted">
                <mat-option [value]="true">{{ 'dropdown.true' | translate }}</mat-option>
                <mat-option [value]="false">{{ 'dropdown.false' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width-right">
              <mat-label>{{ 'secrets.rotationEnabled' | translate }}</mat-label>
              <mat-select required [(ngModel)]="data.rotationEnabled" name="rotationEnabled">
                <mat-option [value]="true">{{ 'dropdown.true' | translate }}</mat-option>
                <mat-option [value]="false">{{ 'dropdown.false' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'secrets.rotationPeriod' | translate }}</mat-label>
            <mat-select required [(ngModel)]="data.rotationPeriod" name="rotationPeriod">
              @for (rotationPeriodItem of rotationPeriods; track rotationPeriodItem) {
                <mat-option [value]="rotationPeriodItem">
                {{rotationPeriodItem}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="full-width all-allowed">
            <mat-checkbox name="allApiKeysAllowed" [(ngModel)]="formData.allApiKeysAllowed">
              {{ 'secrets.allApiKeys' | translate }}
            </mat-checkbox>
          </div>
          @if (formData.allApiKeysAllowed === true) {
            <div class="information">
              {{ 'secrets.label.allApiKeys' | translate }}
            </div>
          }
          @if (formData.allApiKeysAllowed !== true) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'secrets.allowedApiKeys' | translate }}</mat-label>
              <mat-chip-grid #chipList aria-label="Api key selection">
                @for (apiKey of selectedApiKeys; track apiKey) {
                  <mat-chip (removed)="remove(apiKey)">
                    {{apiKey.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                }
                <input placeholder="{{ 'secrets.selectApiKey' | translate }}" #roleInput [matChipInputFor]="chipList"
                  [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
                </mat-chip-grid>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  @for (apiKey of selectableApiKeys; track apiKey) {
                    <mat-option [value]="apiKey.id">
                      {{apiKey.name}}
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            }
            <button mat-button mat-raised-button color="primary" (click)="addNewIpRestriction()">{{ 'secrets.addNewIpRestriction' | translate }}</button>
            <table mat-table [dataSource]="ipRestrictionsDatasource" class="mat-elevation-z1 full-width">
              <tr mat-header-row *matHeaderRowDef="displayedIpRestrictionColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedIpRestrictionColumns;"></tr>
              <ng-container matColumnDef="ipPattern">
                <th mat-header-cell *matHeaderCellDef>{{ 'iprestriction.pattern' | translate }}</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  <mat-form-field appearance="fill" class="full-width">
                    <input matInput name="ipPattern-{{index}}" required autocomplete="off"
                      [(ngModel)]="element.ipPattern">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="allow">
                  <th mat-header-cell *matHeaderCellDef>{{ 'iprestriction.allowed' | translate }}</th>
                  <td mat-cell *matCellDef="let element; let index = index">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-select [(ngModel)]="element.allow" name="allow-{{index}}">
                        @for (item of [true, false]; track item) {
                          <mat-option  [value]="item">{{item}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="operations">
                  <th mat-header-cell *matHeaderCellDef>{{ 'tables.operations' | translate }}</th>
                  <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                    <button mat-icon-button color="warn" (click)="deleteIpRestriction(index)">
                      <mat-icon aria-hidden="false">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              </table>
              @if (ipRestrictions.length === 0) {
                <div class="information">{{ 'secrets.allIpAddresses' | translate }}</div>
              }
              @if (data.id !== undefined) {
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>{{ 'tables.creationDate' | translate }}</mat-label>
                  <input disabled="true" matInput name="creationDate"
                    value="{{ data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                  </mat-form-field>
                }
                @if (data.id !== undefined) {
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{ 'secrets.lastUpdated' | translate }}</mat-label>
                    <input disabled="true" matInput name="lastUpdated"
                      value="{{ data.lastUpdated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                    </mat-form-field>
                  }
                  @if (data.id !== undefined) {
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>{{ 'secrets.lastRotated' | translate }}</mat-label>
                      <input disabled="true" matInput name="lastRotated"
                        value="{{ data.lastRotated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                      </mat-form-field>
                    }
                    <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">{{ 'buttons.save' | translate }}</button>
                  </mat-card-content>
                </mat-card>
              </form>
            }
          </div>