<div class="with-margin-top">

    <button mat-raised-button [routerLink]="'/secret/list'" class="margin-right">Back to list</button>
    <button mat-raised-button color="primary" (click)="rotateSecret()" *ngIf="data?.id !== undefined">Rotate
        secret</button>

    <form #form="ngForm">
        <mat-card class="with-margin-top">
            <mat-card-content>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>ID</mat-label>
                    <input disabled="true" matInput name="id" [(ngModel)]="data.id">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Secret ID</mat-label>
                    <input matInput required name="secretId" [(ngModel)]="data.secretId">
                </mat-form-field>

                <div class="warning" *ngIf="data.value === undefined">
                    Important: If you want to change the related keystore, first you have to query the value by pressing the "Show value" button.
                </div>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Keystore ID</mat-label>
                    <mat-select required name="keystoreId" name="keystoreId" [(ngModel)]="data.keystoreId" (selectionChange)="onKeystoreNameChanged($event.value)">
                        <mat-option *ngFor="let option of filteredKeystoreOptions$ | async" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Keystore alias</mat-label>
                    <mat-select required [(ngModel)]="data.keystoreAliasId" name="keystoreAliasId">
                        <mat-option *ngFor="let option of filteredKeystoreAliasOptions$ | async" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.status" name="status" required>
                        <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                        <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(ngModel)]="data.type" name="type" required>
                        <mat-option [value]="'SIMPLE_CREDENTIAL'">SIMPLE_CREDENTIAL</mat-option>
                        <mat-option [value]="'MULTIPLE_CREDENTIAL'">MULTIPLE_CREDENTIAL</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" *ngIf="data.value === undefined" (click)="showValue()" class="margin-bottom">Show value</button>
                <mat-form-field appearance="fill" class="full-width" *ngIf="data.value !== undefined && data.type === 'SIMPLE_CREDENTIAL'">
                    <mat-label>Value</mat-label>
                    <input matInput required [(ngModel)]="data.value" name="value">
                </mat-form-field>

                <button  mat-raised-button color="primary" class="margin-bottom"
                    *ngIf="data.value !== undefined && data.type === 'MULTIPLE_CREDENTIAL'" (click)="addNewMultipleCredential()">Add new key value pair</button>

                <table *ngIf="data.value !== undefined && data.type === 'MULTIPLE_CREDENTIAL'" mat-table [dataSource]="datasource" class="mat-elevation-z1 full-width margin-bottom">
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>Key</th>
                        <td mat-cell *matCellDef="let element; let index = index">
                            <mat-form-field appearance="fill" class="full-width pad-r-5">
                                <input matInput name="key-{{index}}" required autocomplete="off" [(ngModel)]="element.key">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element; let index = index"> 
                            <mat-form-field appearance="fill" class="full-width pad-l-5">
                                <input matInput name="value-{{index}}" required autocomplete="off" [(ngModel)]="element.value">
                            </mat-form-field>
                        </td>
                    </ng-container> 

                    <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef>Operations</th>
                        <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                            <button mat-icon-button color="warn" (click)="deleteMultipleCredential(index)">
                                <mat-icon aria-hidden="false">delete</mat-icon>
                            </button>
                          </td>
                      </ng-container>
                </table>

                <div>
                    <mat-form-field appearance="fill" class="half-width-left">
                        <mat-label>Return decrypted</mat-label>
                        <mat-select required [(ngModel)]="data.returnDecrypted" name="returnDecrypted">
                            <mat-option [value]="true">true</mat-option>
                            <mat-option [value]="false">false</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill" class="half-width-right">
                        <mat-label>Rotation enabled</mat-label>
                        <mat-select required [(ngModel)]="data.rotationEnabled" name="rotationEnabled">
                            <mat-option [value]="true">true</mat-option>
                            <mat-option [value]="false">false</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Rotation period</mat-label>
                    <mat-select required [(ngModel)]="data.rotationPeriod" name="rotationPeriod">
                        <mat-option *ngFor="let rotationPeriodItem of rotationPeriods" [value]="rotationPeriodItem">
                            {{rotationPeriodItem}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="full-width all-allowed">
                    <mat-checkbox name="allApiKeysAllowed" [(ngModel)]="formData.allApiKeysAllowed">
                        All API keys are allowed
                    </mat-checkbox>
                </div>

                <div class="information" *ngIf="formData.allApiKeysAllowed === true">
                    You can use all API keys to retrieve your secret.
                </div>

                <mat-form-field appearance="fill" class="full-width" *ngIf="formData.allApiKeysAllowed !== true">
                    <mat-label>Allowed API keys</mat-label>
                    <mat-chip-grid #chipList aria-label="Api key selection">
                        <mat-chip *ngFor="let apiKey of selectedApiKeys" (removed)="remove(apiKey)">
                            {{apiKey.name}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="Select an API key..." #roleInput [matChipInputFor]="chipList"
                            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-grid>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let apiKey of selectableApiKeys" [value]="apiKey.id">
                            {{apiKey.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <button mat-button mat-raised-button color="primary" (click)="addNewIpRestriction()">Add new IP restriction</button>

                <table mat-table [dataSource]="ipRestrictionsDatasource" class="mat-elevation-z1 full-width">
                    <tr mat-header-row *matHeaderRowDef="displayedIpRestrictionColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedIpRestrictionColumns;"></tr>

                    <ng-container matColumnDef="ipPattern">
                        <th mat-header-cell *matHeaderCellDef>IP pattern</th>
                        <td mat-cell *matCellDef="let element; let index = index">
                            <mat-form-field appearance="fill" class="full-width">
                                <input matInput name="ipPattern-{{index}}" required autocomplete="off"
                                    [(ngModel)]="element.ipPattern">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="allow">
                        <th mat-header-cell *matHeaderCellDef>Allowed/blocked</th>
                        <td mat-cell *matCellDef="let element; let index = index">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-select [(ngModel)]="element.allow" name="allow-{{index}}">
                                    <mat-option  *ngFor="let item of [true, false]" [value]="item">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef>Operations</th>
                        <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                            <button mat-icon-button color="warn" (click)="deleteIpRestriction(index)">
                                <mat-icon aria-hidden="false">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </table>
                <div class="information" *ngIf="ipRestrictions.length === 0">
                    Secret can be used from all IP addresses.
                </div>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Creation date</mat-label>
                    <input disabled="true" matInput name="creationDate"
                        value="{{ data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Last updated</mat-label>
                    <input disabled="true" matInput name="lastUpdated"
                        value="{{ data.lastUpdated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Last rotated</mat-label>
                    <input disabled="true" matInput name="lastRotated"
                        value="{{ data.lastRotated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">Save</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>