<div style="margin: 0 auto;margin-top: 10px;">

    <button mat-raised-button [routerLink]="'/secret/list'" class="margin-right">Back to home</button>
    <button mat-raised-button color="primary" (click)="rotateSecret()" *ngIf="data?.id !== undefined">Rotate
        secret</button>

    <form #form="ngForm">
        <mat-card style="margin: 0 auto;margin-top: 10px;">
            <mat-card-content>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>ID</mat-label>
                    <input disabled="true" matInput name="id" [(ngModel)]="data.id">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Secret ID</mat-label>
                    <input matInput required name="secretId" [(ngModel)]="data.secretId">
                </mat-form-field>

                <div class="warning" *ngIf="data.value === undefined">
                    Important: If you want to change the related keystore, first you have to query the value by pressing the "Show value" button.
                </div>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Keystore ID</mat-label>
                    <mat-select required name="keystoreId" name="keystoreId" [(ngModel)]="data.keystoreId" (selectionChange)="onKeystoreNameChanged($event.value)">
                        <mat-option *ngFor="let option of filteredKeystoreOptions$ | async" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Keystore alias</mat-label>
                    <mat-select required [(ngModel)]="data.keystoreAliasId" name="keystoreAliasId">
                        <mat-option *ngFor="let option of filteredKeystoreAliasOptions$ | async" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.status" name="status" required>
                        <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                        <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" *ngIf="data.value === undefined" (click)="showValue()">Show
                    value</button>
                <mat-form-field appearance="fill" class="full-width" *ngIf="data.value !== undefined">
                    <mat-label>Value</mat-label>
                    <input matInput required [(ngModel)]="data.value" name="value">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Return decrypted</mat-label>
                    <mat-select required [(ngModel)]="data.returnDecrypted" name="returnDecrypted">
                        <mat-option [value]="true">true</mat-option>
                        <mat-option [value]="false">false</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Rotation enabled</mat-label>
                    <mat-select required [(ngModel)]="data.rotationEnabled" name="rotationEnabled">
                        <mat-option [value]="true">true</mat-option>
                        <mat-option [value]="false">false</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Rotation period</mat-label>
                    <mat-select required [(ngModel)]="data.rotationPeriod" name="rotationPeriod">
                        <mat-option *ngFor="let rotationPeriodItem of rotationPeriods" [value]="rotationPeriodItem">
                            {{rotationPeriodItem}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="full-width" style="padding: 10px 0 10px 10px; margin-bottom:10px;">
                    <mat-checkbox name="allApiKeysAllowed" [(ngModel)]="formData.allApiKeysAllowed">
                        All API keys are allowed
                    </mat-checkbox>
                </div>

                <div class="information" *ngIf="formData.allApiKeysAllowed === true">
                    You can use all API keys to retrieve your secret.
                </div>

                <mat-form-field appearance="fill" class="full-width" *ngIf="formData.allApiKeysAllowed !== true">
                    <mat-label>Allowed API keys</mat-label>
                    <mat-chip-list #chipList aria-label="Api key selection">
                        <mat-chip *ngFor="let apiKey of selectedApiKeys" (removed)="remove(apiKey)">
                            {{apiKey.name}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="Select an API key..." #roleInput [matChipInputFor]="chipList"
                            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let apiKey of selectableApiKeys" [value]="apiKey.id">
                            {{apiKey.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!--<mat-form-field appearance="fill" class="full-width" *ngIf="formData.allApiKeyAllowed !== true">
                    <mat-label>Alowed API keys</mat-label>

                    <mat-select required [(ngModel)]="data.keystoreId" name="keystoreId">
                        <mat-option *ngFor="let option of filteredApiKeyOptions$ | async" [value]="option.id"
                            (onSelectionChange)="onKeystoreNameChanged(option.id)">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>-->

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Creation date</mat-label>
                    <input disabled="true" matInput name="creationDate"
                        value="{{ data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Last updated</mat-label>
                    <input disabled="true" matInput name="lastUpdated"
                        value="{{ data.lastUpdated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Last rotated</mat-label>
                    <input disabled="true" matInput name="lastRotated"
                        value="{{ data.lastRotated | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">Save</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>