/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@use '@angular/material' as mat;

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: hidden;
}

// Colors
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'globals.scss';

.full-width {
    width: 100%;
    min-width: 500px;
}

.half-width-left {
    width: calc(50% - 5px) !important;
    margin-right: 5px;
    min-width: 500px;
}

.half-width-right {
    width: calc(50% - 5px) !important;
    margin-left: 5px;
    min-width: 500px;
}

.warning {
    padding: 15px;
    margin: 10px 0 10px 0;
    background-color: $warning_light;
    border: 1px solid $warning;
}

.information {
    padding: 15px;
    margin: 10px 0 10px 0;
    background-color: $information_light;
    border: 1px solid $information;
}

.datatable {
    width: 100%;
    margin: 0 auto;
}

.width100-and-margin-top {
    width: 100%;
    margin-top: 10px;
}

.simple-margin-top {
    margin-top: 10px;
}

.with-margin-top {
    margin: 0 auto;
    margin-top: 10px;
}

.messages-0 {
    color: #aaaaaa;
}

.w-pointer {
    cursor: pointer;
}