<div>
  <header class="header" *ngIf="currentUser !== undefined"></header>
  <mat-sidenav-container class="home-root-container" autosize>
      <mat-sidenav class="side-menu" #sidenav mode="side" [opened]="currentUser !== undefined">
        <nav-menu [admin]="isAdmin" [showTexts]="showTexts" [enableBottomToggle]="true"></nav-menu>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<splash-screen></splash-screen>