.header {
  height: 64px;
  width: 100% !important;
  flex: auto;
}

/*.app-content {
  flex: auto;
  height: 100%;
}*/

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

home {
  flex: auto;
}

// Sidenav
.home-root-container {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px)
}

.drawer {
  width: 15%;
  height: 100%;
}

.sidenav-content {
  align-items: top;
  padding: 10px;
  overflow-y: scroll !important;
  height: calc(100vh - 64px)
}

mat-list-item {
  cursor: pointer;
}

.nav-toggle-btn {
  display: block;
  left: 0;
  bottom: 0;
  position: fixed;
  /*text-align: center;
  /*margin: 5px 5px 0 5px;*/
}