<div>
  <h2>{{ 'sidemenu.users' | translate }}</h2>

  <nav-back [buttonConfig]="[{url:'/user/new', label:'navback.create', primary : true, visibilityCondition: authMode !== 'ldap' }]"></nav-back>
  @if (authMode === 'ldap') {
    <button mat-raised-button color="primary" (click)="manualLdapUserSync()">{{ 'users.ldapSync' | translate }}</button>
  }

  @if (authMode === 'ldap') {
    <information-message severity="information">{{ 'users.managedByLdap' | translate }}</information-message>
  }

  @if (error) {
    <information-message severity="warning">{{ 'messages.error' | translate }}: {{error}}</information-message>
  }
  @if (!error) {
    <mat-card class="margin-top">
      <mat-card-content>
        <table mat-table [dataSource]="datasource" class="width100-and-margin-top">
          <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>{{ 'tables.username' | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'tables.status' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              @if (element.id !== 1) {
                <status-toggle [entityId]="element.id" [doNotToggle]="element.id === 1"
                [status]="element.status" (click)="toggle(element.id, element.status)"></status-toggle>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{ 'users.email' | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef class="show-large">{{ 'users.role' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="show-large">
              <span class="mini-chips">{{element.role}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef class="show-large">{{ 'tables.creationDate' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="show-large"> {{element.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
          </ng-container>
          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef>{{ 'tables.operations' | translate }}</th>
            <td mat-cell *matCellDef="let element">&nbsp;
              @if (authMode !== 'db') {
                <button mat-icon-button color="primary" class="show-large" [routerLink]="['/user/' + element.id]">
                  <mat-icon aria-hidden="false">arrow_right_alt</mat-icon>
                </button>
              }
              @if (authMode === 'db') {
                <button mat-icon-button color="primary" class="show-large" [routerLink]="['/user/' + element.id]">
                  <mat-icon aria-hidden="false">edit</mat-icon>
                </button>
              }
              @if (element.id !== 1 && authMode === 'db') {
                <button mat-icon-button color="warn" class="show-large" (click)="promptDelete(element.id)">
                  <mat-icon aria-hidden="false">delete</mat-icon>
                </button>
              }
              <button mat-icon-button class="show-small" [matMenuTriggerFor]="menu" aria-label="Operations menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="show-small">
                <button mat-menu-item color="primary" [routerLink]="'/user/' + element.id">
                  <mat-icon aria-hidden="false">edit</mat-icon>
                  <span>{{ 'tables.edit' | translate }}</span>
                </button>
                <button mat-menu-item color="warn" (click)="promptDelete(element.id)">
                  <mat-icon aria-hidden="false">delete</mat-icon>
                  <span>{{ 'tables.delete' | translate }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
        </table>
        <mat-paginator [length]="tableConfig.count" [pageSize]="tableConfig.pageSize" [pageIndex]="tableConfig.pageIndex"
        [pageSizeOptions]="[10, 25, 50]" (page)="onFetch($event)"></mat-paginator>
      </mat-card-content>
    </mat-card>
  }
</div>