
<div style="margin: 0 auto;margin-top: 10px;">

    <nav-back [buttonConfig]="[{url:'/user/list', label:'Back to user list', primary : true}]"></nav-back>

    <form #form="ngForm"><!-- [formGroup]="form" novalidate>-->
        <mat-card class="example-card" style="margin: 0 auto;margin-top: 10px;">
            <mat-card-title>
                User data
            </mat-card-title>
            <mat-card-content>
                In order to make the application works, you must create an admin user. Please fill in the next form.
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Full name</mat-label>
                        <input matInput name="name" required [(ngModel)]="data.name">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>User name</mat-label>
                        <input matInput name="userName" autocomplete="off" required [(ngModel)]="data.username">
                    </mat-form-field>
                    <mat-form-field  appearance="fill" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" autocomplete="off" name="email" [email]="true" required [(ngModel)]="data.email">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Credential</mat-label>
                        <input type="password" matInput autocomplete="off" name="credential" required [(ngModel)]="data.credential">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="data.status" name="status" required>
                            <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                            <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Allowed roles</mat-label>
                        <mat-chip-list #chipList aria-label="Role selection">
                        <mat-chip *ngFor="let role of data.roles" (removed)="remove(role)">
                            {{role}}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="Select a role..."
                                #roleInput
                                [matChipInputFor]="chipList"
                                [matAutocomplete]="auto"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let role of selectableRoles" [value]="role">
                              {{role}}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
            <button [disabled]="form.status ==='INVALID'" mat-raised-button color="primary" (click)="save()">Save</button>
            </mat-card-actions>
    </mat-card>
    </form>
</div>