.error {
  border: 1px solid #ff0000;
}

.active {
  display: block;
  width: 18px;
  height: 18px;
  background-color: green;
  border-radius: 9px;
}

.inactive {
  display: block;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 9px;
}

.mini-chips {
  border-radius: 5px;
  background-color: cadetblue;
  padding: 5px;
  margin-left: 5px;
  color: white;
}

@media screen and (max-width: 899px) {
  .show-large {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .show-small {
    display: none;
  }
}