<div style="margin: 0 auto;margin-top: 10px;overflow: hidden;">
    <nav-back [buttonConfig]="[{ primary: true, label : 'Back to list', url : '/keystore/list' }]"></nav-back>
    <form #form="ngForm" novalidate class="example-form" autocomplete="off">
        <mat-card class="example-card" style="margin: 0 auto;margin-top: 10px;">
            <mat-card-content>
                <div class="information">
                    Important: Existing keystore files cannot be updated!
                </div>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>ID</mat-label>
                    <input disabled="true" name="id" matInput value="{{data.id}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>File name</mat-label>
                    <input disabled="true" matInput name="fileName" autocomplete="off" [(ngModel)]="data.fileName">
                </mat-form-field>

                <button mat-button mat-raised-button class="download-button" color="primary" (click)="downloadKeystore()">Download keystore</button>

                <mat-form-field appearance="fill" class="full-width custom-padding" *ngIf="data?.id === undefined">
                    <div>
                        <mat-toolbar>
                            <input matInput [(ngModel)]="fileAttr" readonly name="fileAttr" required />
                            <button mat-flat-button color="primary">Browse File</button>
                        </mat-toolbar>

                        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="file"
                            multiple="multiple" accept="*/*" />
                    </div>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="data.name" name="keystore_name" required autocomplete="off" placeholder="...">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Credential</mat-label>
                    <input matInput type="password" [(ngModel)]="data.credential" autocomplete="new-password" name="keystore_credential" required>
                </mat-form-field>

                <button mat-button mat-raised-button color="primary" (click)="addNewAlias()">Add new alias</button>

                <div class="warning" *ngIf="allAliasesAreValid === false">
                    You must define at least one active keystore alias!
                </div>
                <table mat-table [dataSource]="datasource" class="mat-elevation-z1 full-width">
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <ng-container matColumnDef="alias">
                        <th mat-header-cell *matHeaderCellDef>Alias</th>
                        <td mat-cell *matCellDef="let element; let index = index">
                            <mat-form-field appearance="fill" class="full-width">
                                <input matInput name="alias-{{index}}" required autocomplete="off" [(ngModel)]="element.alias">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aliasCredential">
                        <th mat-header-cell *matHeaderCellDef>Alias credential</th>
                        <td mat-cell *matCellDef="let element; let index = index"> 
                            <mat-form-field appearance="fill" class="full-width">
                                <input type="password" matInput name="aliasCredential-{{index}}" required autocomplete="off" [(ngModel)]="element.aliasCredential">
                            </mat-form-field>
                        </td>
                    </ng-container> 

                    <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef>Operations</th>
                        <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                            <button mat-icon-button color="warn" (click)="changeState(element, index, 'DELETE')" *ngIf="element.operation === 'SAVE'">
                                <mat-icon aria-hidden="false">delete</mat-icon>
                            </button>

                            <button mat-icon-button color="warn" (click)="changeState(element, index, 'SAVE')" *ngIf="element.operation === 'DELETE'">
                                <mat-icon aria-hidden="false">undo</mat-icon>
                            </button>
                          </td>
                      </ng-container>
                </table>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Description</mat-label>
                    <input matInput name="description" required [(ngModel)]="data.description">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.status" name="status" required>
                        <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                        <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(ngModel)]="data.type" required name="type">
                        <mat-option [value]="'JKS'">JKS</mat-option>
                        <mat-option [value]="'PKCS12'">PKCS12</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Creation date</mat-label>
                    <input disabled="true" matInput value="{{data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">Save</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>