table {
  width: 100%;
  margin-top: 10px;
}

table td,
th {
  padding: 10px;
}

tr th {
  text-align: left;
}

@media screen and (max-width: 899px) {
  .show-large {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .show-small {
    display: none;
  }
}