<h2>Keystores</h2>
<div class="datatable">

  <nav-back [buttonConfig]="[{url:'/keystore/new', label:'Create +', primary : true}]"></nav-back>

  <mat-card style="margin-top: 10px;">
    <mat-card-content>
      <table mat-table [dataSource]="datasource" (load)="true">
          <tr mat-header-row *matHeaderRowDef="keystoreColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: keystoreColumns;"></tr>

          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <status-toggle [entityId]="element.id" [status]="element.status" (callbackFunction)="toggle(element.id, element.status)"></status-toggle>
              </td>
            </ng-container>
            <ng-container matColumnDef="creationDate">
              <th mat-header-cell *matHeaderCellDef>Creation date</th>
              <td mat-cell *matCellDef="let element"> {{element.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
            </ng-container>
            <ng-container matColumnDef="operations">
              <th mat-header-cell *matHeaderCellDef>Operations</th>
              <td mat-cell *matCellDef="let element">&nbsp;
                  <button mat-icon-button color="primary" [routerLink]="'/keystore/' + element.id">
                      <mat-icon aria-hidden="false">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="promptDelete(element.id)">
                      <mat-icon aria-hidden="false">delete</mat-icon>
                  </button>
                </td>
            </ng-container>
      </table>

      <mat-paginator [length]="getCount()" [pageSize]="3"
                        [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>