<div class="with-margin-top">
  <nav-back [buttonConfig]="[{ primary: true, label : 'navback.back2List', url : '/keystore/list' }]"></nav-back>

  @if (error) {
    <div class="warning"><b>{{ 'messages.error' | translate }}:</b> {{error}}</div>
  }
  @if (!error) {
    <form #form="ngForm" novalidate class="example-form" autocomplete="off">
      @if (data.id === undefined) {
        <mat-card class="with-margin-top">
          <mat-card-content>
            <mat-radio-group [(ngModel)]="data.generated" name="generated">
              <mat-radio-button [value]="false">{{ 'keystores.upload' | translate }}</mat-radio-button>&nbsp;
              <mat-radio-button [value]="true">{{ 'keystores.generate' | translate }}</mat-radio-button>
            </mat-radio-group>
            @if (data.generated === false) {
              @if (data.id === undefined) {
                <mat-form-field appearance="fill" class="full-width custom-padding"
                  >
                  <div>
                    <mat-toolbar>
                      <input matInput [(ngModel)]="fileAttr" readonly name="fileAttr" required />
                      <button mat-flat-button color="primary">{{ 'keystores.browse' | translate }}</button>
                    </mat-toolbar>
                    <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)"
                      name="file" multiple="multiple" accept="*/*" />
                    </div>
                  </mat-form-field>
                }
              }
              @if (data.generated === true) {
                <div class="information">
                  {{ 'keystores.newInfo' | translate }}
                </div>
              }
            </mat-card-content>
          </mat-card>
        }
        <mat-card class="with-margin-top">
          <mat-card-content>
            @if (data.id !== undefined) {
              <button mat-button mat-raised-button class="margin-btm" color="primary"
              (click)="downloadKeystore()">{{ 'keystores.download' | translate }}</button>
            }
            @if (data.id !== undefined) {
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>ID</mat-label>
                <input disabled="true" name="id" matInput value="{{data.id}}">
              </mat-form-field>
            }
            @if (data.id !== undefined) {
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'keystores.fileName' | translate }}</mat-label>
                <input disabled="true" matInput name="fileName" autocomplete="off" [(ngModel)]="data.fileName">
              </mat-form-field>
            }
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'tables.name' | translate }}</mat-label>
              <input matInput [(ngModel)]="data.name" name="keystore_name" required autocomplete="off"
                placeholder="...">
              </mat-form-field>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'tables.credential' | translate }}</mat-label>
                <input matInput type="password" [(ngModel)]="data.credential" autocomplete="new-password"
                  name="keystore_credential" required>
                </mat-form-field>
                @if (data.id === undefined) {
                  <button mat-button mat-raised-button color="primary" (click)="addNewAlias()">{{ 'keystores.addNewAlias' | translate }}</button>
                }
                @if (allAliasesAreValid === false) {
                  <div class="warning">
                    {{ 'keystores.aliasWarning' | translate }}
                  </div>
                }
                <table mat-table [dataSource]="datasource" class="mat-elevation-z1 full-width">
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <ng-container matColumnDef="alias">
                    <th mat-header-cell *matHeaderCellDef>{{ 'keystores.alias' | translate }}</th>
                    <td mat-cell *matCellDef="let element; let index = index">
                      <mat-form-field appearance="fill" class="full-width">
                        <input matInput name="alias-{{index}}" required autocomplete="off"
                          [(ngModel)]="element.alias">
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="aliasCredential">
                      <th mat-header-cell *matHeaderCellDef>{{ 'keystores.aliasCredential' | translate }}</th>
                      <td mat-cell *matCellDef="let element; let index = index">
                        <mat-form-field appearance="fill" class="full-width">
                          <input type="password" matInput name="aliasCredential-{{index}}" required
                            autocomplete="off" [(ngModel)]="element.aliasCredential">
                          </mat-form-field>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="algorithm">
                        <th mat-header-cell *matHeaderCellDef>{{ 'keystores.algorithm' | translate }}</th>
                        <td mat-cell *matCellDef="let element; let index = index">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-select [disabled]="data.generated === false" [(ngModel)]="element.algorithm" name="algorithm-{{index}}">
                              @for (alg of enabledAlgorithms; track alg) {
                                <mat-option  [value]="alg">{{alg}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef>{{ 'tables.operations' | translate }}</th>
                        <td mat-cell *matCellDef="let element; let index = index">&nbsp;
                          @if (element.operation === 'SAVE') {
                            <button mat-icon-button color="warn" (click)="changeState(element, index, 'DELETE')"
                              >
                              <mat-icon aria-hidden="false">delete</mat-icon>
                            </button>
                          }
                          @if (element.operation === 'DELETE') {
                            <button mat-icon-button color="warn" (click)="changeState(element, index, 'SAVE')"
                              >
                              <mat-icon aria-hidden="false">undo</mat-icon>
                            </button>
                          }
                        </td>
                      </ng-container>
                    </table>
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>{{ 'tables.description' | translate }}</mat-label>
                      <input matInput name="description" required [(ngModel)]="data.description">
                    </mat-form-field>
                    <div>
                      <mat-form-field appearance="fill" class="half-width-left">
                        <mat-label>{{ 'tables.status' | translate }}</mat-label>
                        <mat-select [(ngModel)]="data.status" name="status" required>
                          <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                          <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="half-width-right">
                        <mat-label>{{ 'tables.type' | translate }}</mat-label>
                        <mat-select [(ngModel)]="data.type" required name="type">
                          <mat-option [value]="'JKS'">JKS</mat-option>
                          <mat-option [value]="'PKCS12'">PKCS12</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    @if (data.id !== undefined) {
                      <mat-form-field appearance="fill" class="full-width">
                        <mat-label>{{ 'tables.creationDate' | translate }}</mat-label>
                        <input disabled="true" matInput value="{{data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                      </mat-form-field>
                    }
                    <button [disabled]="form.status ==='INVALID' || data.aliases.length === 0" mat-button color="primary" (click)="save()">{{ 'buttons.save' | translate }}</button>
                  </mat-card-content>
                </mat-card>
              </form>
            }
          </div>