<div style="margin: 0 auto;margin-top: 10px;overflow: hidden;">
    <nav-back [buttonConfig]="[{ primary: true, label : 'Back to list', url : '/keystore/list' }]"></nav-back>
    <form #form="ngForm" novalidate class="example-form" autocomplete="off">
        <mat-card class="example-card" style="margin: 0 auto;margin-top: 10px;">
            <mat-card-content>
                <div class="information">
                    Important: Existing keystore files cannot be updated!
                </div>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>ID</mat-label>
                    <input disabled="true" name="id" matInput value="{{data.id}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>File name</mat-label>
                    <input disabled="true" matInput name="fileName" autocomplete="off" [(ngModel)]="data.fileName">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width custom-padding" *ngIf="data?.id === undefined">
                    <div>
                        <mat-toolbar>
                            <input matInput [(ngModel)]="fileAttr" readonly name="fileAttr" required />
                            <button mat-flat-button color="primary">Browse File</button>
                        </mat-toolbar>

                        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="file"
                            multiple="multiple" accept="*/*" />
                    </div>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="data.name" name="keystore_name" required autocomplete="off" placeholder="...">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Credential</mat-label>
                    <input matInput type="password" [(ngModel)]="data.credential" autocomplete="new-password" name="keystore_credential" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Alias</mat-label>
                    <input matInput [(ngModel)]="data.alias" name="keystore_alias" autocomplete="off" required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Alias credential</mat-label>
                    <input type="password" matInput name="keystore_aliasCredential" required autocomplete="new-password"
                        [(ngModel)]="data.aliasCredential">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Description</mat-label>
                    <input matInput name="description" required [(ngModel)]="data.description">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.status" name="status" required>
                        <mat-option [value]="'ACTIVE'">ACTIVE</mat-option>
                        <mat-option [value]="'DISABLED'">DISABLED</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select [(ngModel)]="data.type" required name="type">
                        <mat-option [value]="'JKS'">JKS</mat-option>
                        <mat-option [value]="'PKCS12'">PKCS12</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Creation date</mat-label>
                    <input disabled="true" matInput value="{{data.creationDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">Save</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>