table {
  margin: 15px 0 15px 0;
}

.custom-padding {
  padding: 0 0 .75em 0;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}