<div class="with-margin-top">

    <nav-back [buttonConfig]="[{url:'/announcement/list', label:'Back to list', primary : true}]"></nav-back>

    <form #form="ngForm">
        <mat-card class="with-margin-top">
            <mat-card-content>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>ID</mat-label>
                    <input disabled="true" name="id" matInput value="{{data.id}}">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput name="title" minlength="1" maxlength="50" required
                        [(ngModel)]="data.title" placeholder="..." autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="5" name="description" minlength="1" maxlength="200" required
                        [(ngModel)]="data.description" autocomplete="off"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" *ngIf="data?.id !== undefined">
                    <mat-label>Announcement date</mat-label>
                    <input disabled="true" matInput
                        value="{{data.announcementDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>

                <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">Save</button>

            </mat-card-content>
        </mat-card>
    </form>
</div>