<div class="with-margin-top">

  <nav-back [buttonConfig]="[{url:'/announcement/list', label:'navback.back2List', primary : true}]"></nav-back>

  @if (error) {
    <div class="warning"><b>{{ 'messages.error' | translate }}:</b> {{error}}</div>
  }
  @if (!error) {
    <form #form="ngForm">
      <mat-card class="with-margin-top">
        <mat-card-content>
          @if (data.id !== undefined) {
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>ID</mat-label>
              <input disabled="true" name="id" matInput value="{{data.id}}">
            </mat-form-field>
          }
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'tables.title' | translate }}</mat-label>
            <input matInput name="title" minlength="1" maxlength="50" required
              [(ngModel)]="data.title" placeholder="..." autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'tables.description' | translate }}</mat-label>
              <textarea matInput rows="5" name="description" minlength="1" maxlength="200" required
              [(ngModel)]="data.description" autocomplete="off"></textarea>
            </mat-form-field>
            @if (data.id !== undefined) {
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'announcements.date' | translate }}</mat-label>
                <input disabled="true" matInput
                  value="{{data.announcementDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}">
                </mat-form-field>
              }
              <button [disabled]="form.status ==='INVALID'" mat-button color="primary" (click)="save()">{{ 'buttons.save' | translate }}</button>
            </mat-card-content>
          </mat-card>
        </form>
      }
    </div>