
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container > .box {
    min-width: 30%;
    height: 250px;
}

.form-control {
    width: 100%;
}

.gms-verification-header {
    background-color: #3f51b5;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 16px;
}