<div class="container">
  <form #form="ngForm" novalidate autocomplete="off">
    <mat-card class="box">
      <mat-card-header class="gms-verification-header">
        <mat-card-title>{{ 'verify.title' | translate }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <information-message severity="information">{{ 'verify.description' | translate }}</information-message>
        <mat-form-field appearance="fill" class="form-control">
          <mat-label>{{ 'verify.code' | translate }}</mat-label>
          <input type="number" maxlength="6" matInput name="verificationCode" required [(ngModel)]="formModel.verificationCode">
        </mat-form-field>
        <button type="button" [disabled]="form.status ==='INVALID'" (click)="verifyLogin()"
          mat-raised-button color="primary" class="btn-block">{{ 'verify.login' | translate }}</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>