@import "../../../globals.scss";

table {
  width: 100%;
  margin-top: 10px;
}

table td,
th {
  padding: 10px;
}

tr th {
  text-align: left;
}

.stat-item {
  margin: 0 16px 0 16px;
  vertical-align: super;
}
.announcement-title {
  vertical-align: text-bottom;
  margin-left: 5px;
}

.announcement-footer {
  margin-left: 0px;
  margin-bottom: 0px;
}

.number-of-container {
  display: inline-block;
}

@media screen and (max-width: 699px) {
  .number-of-container {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: x-large;
  }

  .stat-item {
    margin: 0 16px 0 16px;
    vertical-align: top;
  }

  .gms-sub-box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
  .gms-sub-box {
    display: block;
    width: 100%;
  }

  .gms-card-left {
    margin-top: 0;
  }

  .gms-card-right {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .gms-sub-box {
    display: inline-block;
    width: 50%;
  }

  .gms-card-left {
    margin: 0 5px 0 0;
  }

  .gms-card-right {
    margin: 0 0 10px 5px;
  }
}