@if (pageStatus === 2) {
  <div class="warning"><b>System error:</b> {{error}}</div>
}

@if (pageStatus === 0) {
  <div>
    <mat-spinner style="margin:0 auto;"  mode="indeterminate"></mat-spinner>
  </div>
}

@if (data !== undefined && pageStatus === 1) {
  <div>
    @if (data.role === 'ROLE_USER' || data.role === 'ROLE_VIEWER') {
      <div>
        <div class="gms-box">
          <div class="gms-sub-box" style="vertical-align: top !important;">
            <mat-card class="gms-card-left">
              <mat-card-content>
                <span class="number-of-container">
                  <mat-icon matListIcon>security</mat-icon> <span class="stat-item">API keys: <b>{{data.apiKeyCount}}</b></span>
                </span>
                <span class="number-of-container">
                  <mat-icon matListIcon>widgets</mat-icon> <span class="stat-item">Keystores: <b>{{data.keystoreCount}}</b></span>
                </span>
                <span class="number-of-container">
                  <mat-icon matListIcon>key</mat-icon> <span class="stat-item">Secrets: <b>{{data.secretCount}}</b></span>
                </span>
                <hr/>
                <button mat-raised-button color="primary" (click)="router.navigate(['/apikey/new'])">Create a new API key...</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="router.navigate(['/keystore/new'])">Create a new keystore...</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="router.navigate(['/secret/new'])">Create a new secret...</button>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="gms-sub-box" style="vertical-align: top !important;">
            @if (data.announcements.resultList.length === 0) {
              <mat-card class="gms-card-right">
                <mat-card-content>
                  <div class="information">
                    No announcements found!
                  </div>
                </mat-card-content>
              </mat-card>
            }
            @for (announcement of data.announcements.resultList; track announcement) {
              <mat-card class="gms-card-right">
                <mat-card-content>
                  <mat-card-title>
                    <mat-icon matListIcon>announcement</mat-icon> <span
                  class="announcement-title">{{announcement.title}}</span>
                </mat-card-title>
                {{announcement.description}}
                <mat-card-footer class="announcement-footer">
                  <hr />
                  {{announcement.announcementDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}}
                </mat-card-footer>
              </mat-card-content>
            </mat-card>
          }
        </div>
      </div>
    </div>
  }
  @if (data.role === 'ROLE_ADMIN') {
    <div>
      <div class="gms-box">
        <div class="gms-sub-box" style="vertical-align: top !important;">
          <mat-card class="gms-card-left">
            <mat-card-content>
              <mat-card-title>User management</mat-card-title>
              <mat-card-subtitle>Manage your users</mat-card-subtitle>
              @if (data.userCount === 0) {
                <div class="warning">
                  <b>Warning:</b> No user registered yet!
                </div>
              }
              @if (data.userCount > 0) {
                <p>
                  Number of users: <b>{{data.userCount}}</b><br />
                </p>
              }
            </mat-card-content>
            <mat-card-actions>
              @if (editEnabled === true) {
                <button class="margin-right" mat-raised-button color="primary" (click)="router.navigate(['/user/new'])">Create new user +</button>
              }&nbsp;
                <button mat-raised-button color="primary" (click)="router.navigate(['/user/list'])">Show users</button>
              </mat-card-actions>
            </mat-card>
            <mat-card class="gms-card-left margin-top">
              <mat-card-content>
                <mat-card-title>Events</mat-card-title>
                These are the latest 10 events.
                <table mat-table [dataSource]="eventDataSource" (load)="true">
                  <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: eventColumns;"></tr>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                  </ng-container>
                  <ng-container matColumnDef="eventDate">
                    <th mat-header-cell *matHeaderCellDef>Event date</th>
                    <td mat-cell *matCellDef="let element"> {{element.eventDate | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef>Operation</th>
                    <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
                  </ng-container>
                  <ng-container matColumnDef="target">
                    <th mat-header-cell *matHeaderCellDef>Target</th>
                    <td mat-cell *matCellDef="let element"> {{element.target}} </td>
                  </ng-container>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="'event/list'">View all</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="gms-sub-box" style="vertical-align: top !important;">
            <mat-card class="gms-card-right margin-top">
              <mat-card-content>
                <mat-card-title>System announcements</mat-card-title>
                You can find here the latest news regarding to Give My Secret application.<br/><br/>
                @for (item of systemAnnouncementsData; track item) {
                  <div>
                    <b>{{item.title}}</b>
                    <p class="announcement-item">
                      {{item.description}}
                      <br/>
                      <sub>{{item.created | momentPipe: 'yyyy.MM.DD.'}}</sub>
                    </p>
                  </div>
                }
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    }
  </div>
}