.side-menu-list-item {
    display: block;
}

.mat-line {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.nav-toggle-btn {
    display: block;
    left: 0;
    bottom: 0;
    position: fixed;
}