<div>
  <mat-list role="list">
    <mat-list-item class="side-menu-list-item" [routerLink]="'/'">
      <mat-icon matListIcon>home</mat-icon>
      @if (showTexts) {
        <span matLine (click)="handleClick()"> {{ 'sidemenu.home' | translate }} </span>
      }
    </mat-list-item>
    @for (item of navMenuItems; track $index) {
      @if (admin === item.admin) {
        <mat-list-item class="side-menu-list-item" role="listitem" [routerLink]="item.link" (click)="handleClick()">
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          @if (showTexts) {
            <span matLine> {{item.text}} </span>
          }
        </mat-list-item>
      }
    }
  </mat-list>

  @if (enableBottomToggle) {
    <mat-list class="nav-toggle-btn">
      <mat-list-item>
        <mat-icon matListIcon (click)="toggleTextMenuVisibility()">{{showTexts ? 'arrow_back_ios' : 'arrow_forward_ios'}}</mat-icon>
      </mat-list-item>
    </mat-list>
  }
</div>