<h2>System properties</h2>
<div class="datatable">

  <nav-back></nav-back>

  <mat-card class="simple-margin-top">
    <mat-card-content>
      <table mat-table [dataSource]="datasource" (load)="true">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element"> {{getTextDescription(element.key)}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.mode === undefined">{{element.value}}</span>
            <input *ngIf="element.mode === 'EDIT' && element.valueSet === undefined" name="value" type="{{getInputType(element.type)}}" [(ngModel)]="element.value" />
            <mat-select *ngIf="element.mode === 'EDIT' && element.valueSet !== undefined" name="value" [(ngModel)]="element.value">
              <mat-option *ngFor="let item of element.valueSet" [value]="item">{{item}}</mat-option>
            </mat-select>
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="lastModified">
          <th mat-header-cell *matHeaderCellDef>Last modified</th>
          <td mat-cell *matCellDef="let element"> {{element.lastModified | momentPipe:'yyyy.MM.DD. HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef>Operations</th>
          <td mat-cell *matCellDef="let element">&nbsp;
            <button mat-icon-button color="primary" *ngIf="!element.mode"
              (click)="element.valueSet=getValueSet(element.key);element.mode = 'EDIT'">
              <mat-icon aria-hidden="false">edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="element.mode === 'EDIT'"
              (click)="element.mode=undefined">
              <mat-icon aria-hidden="false">undo</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="element.mode === 'EDIT'"
              (click)="save(element)">
              <mat-icon aria-hidden="false">save</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="!element.mode && element.factoryValue === false"
              (click)="promptDelete(element.key)">
              <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>

      <mat-paginator [length]="tableConfig.count" [pageSize]="tableConfig.pageSize" [pageIndex]="tableConfig.pageIndex"
                        [pageSizeOptions]="[10, 25, 50]" (page)="onFetch($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>