<h1 mat-dialog-title>{{ title | translate }}</h1>
<div mat-dialog-content>
  <p class="{{data.type}}">
    @if (data.type === 'warning') {
      <mat-icon class="v-bottom">warning</mat-icon>
    }
    @if (data.type === 'information') {
      <mat-icon class="v-bottom">info</mat-icon>
    }
    {{ data.text | translate: data.arg }}
  </p>
  @if (data.errorCode) {
    <p><b>{{ 'dialog.label.errorCode' | translate }}: {{data.errorCode}}</b></p>
  }
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="noData">{{ 'dialog.close' | translate }}</button>
</div>