<h1 mat-dialog-title>{{data.title ?? (TITLE_MAP[data.type] | translate) }}</h1>
<div mat-dialog-content>
  <p class="{{data.type}}">
    @if (data.type === 'warning') {
      <mat-icon class="v-bottom">warning</mat-icon>
    }
    @if (data.type === 'information') {
      <mat-icon class="v-bottom">info</mat-icon>
    }
    {{data.text}}
  </p>
  @if (data.errorCode) {
    <p><b>Code: {{data.errorCode}}</b></p>
  }
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">{{ 'dialog.close' | translate }}</button>
</div>