<h1 mat-dialog-title>{{ title | translate }}</h1>
<div mat-dialog-content>
  <p class="{{data.type}}">
    @if (data.type === 'warning') {
      <mat-icon class="v-bottom">warning</mat-icon>
    }
    @if (data.type === 'information') {
      <mat-icon class="v-bottom">info</mat-icon>
    }
    @if (data.errorCode) {
      {{ 'dialog.label.errorCode.' + data.errorCode | translate }}
    }
    @else {
      {{ data.text | translate: data.arg }}
    }
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="noData">{{ 'dialog.close' | translate }}</button>
</div>